<form id="check-form">
  <div class="row align-center">
    <h2 class="small-8 columns">Enter email to check entries:</h2>

    <div class="input-group small-8 columns">
      <input class="input-group-field" type="email" name="check-email">
      <div class="input-group-button">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </div>
</form>

<div class="row align-center">
  <div class="small-8 columns user-entries hide">
    <h3>entries:</h3>
    <h6 class="entries"></h6>
  </div>
</div>
