<form id="email-form">
  <div class="row align-center">
    <h2 class="small-8 columns">Enter email to enter:</h2>

    <div class="input-group small-8 columns">
      <input class="input-group-field" type="email" name="email">
      <div class="input-group-button">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </div>
</form>

<div class="row align-center">
  <div class="small-8 columns unique-link hide">
    <h3>Unique Link:</h3>
    <h6 class="link"></h6>
  </div>
</div>
